<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{page.title}}</title>
        <link rel="canonical" href="https://ocnwaokoro.github.io" />
        <meta name="title" content="{{page.title}}" />
        <link rel="icon" href="/assets/images/pw_icon.png" />

        <link href="/assets/fonts/BebasNeue.css" rel="stylesheet" />

        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>

    <body>
        <main class="home" data-scroll-container="">
            <nav class="home__nav">
                <div class="home__nav__left">
                    <div class="nav__name" nav-anim="">
                        <span>
                            WELCOME!<br />
                            THANK YOU FOR COMING!
                        </span>
                    </div>
                    <div class="hide-mobile nav__folio" nav-anim="">
                        <span>
                            Data Science Student <br />
                            NYU '25
                        </span>
                    </div>
                </div>

                <div class="home__nav__right">
                
                    <div class="hide-desktop nav__folio" nav-anim="">
                        Data Science Student <br />
                        NYU '25'
                    </div>

                    <!--
                    <div class="nav__availability" nav-anim="">
                        Available for freelance <br />
                        work from Jan 2023
                    </div>
                    -->

                    <button class="c-button nav__button" nav-anim="">
                        <span class="c-link">
                            <span class="c-link__inner">
                                <span> resume </span> <span class="c-link__animated"> <a href="/assets/links/NwaokoroObinna_Resume.pdf" target="_blank" rel="noopener noreferrer">resume </a> </span>
                            </span>
                        </span>
                    </button>

                    <button class="c-button nav__button" nav-anim="">
                        <span class="c-link">
                            <span class="c-link__inner">
                                <span> github </span> <span class="c-link__animated"> <a href="https://github.com/ocnwaokoro" target="_blank" rel="noopener noreferrer">github </a> </span>
                            </span>
                        </span>
                    </button>

                    <button class="c-button contact-scroll nav__button" nav-anim="">
                        <span class="c-link">
                            <span class="c-link__inner"> <span> contact </span> <span class="c-link__animated"> contact </span> </span>
                        </span>
                    </button>
                    
                </div>
            </nav>
            <section class="home__hero">
                <div class="hero__title">
                    <h1 class="mobile">
                        NWAO <br />
                        KORO, <br />
                        OBINNA
                    </h1>
                    <h1 class="desktop hero__title__top overflow">
                        <div class="hero__title__top" title-overflow="">
                            <span class="hero__title__left" data-scroll="" data-scroll-direction="horizontal" data-scroll-position="top" data-scroll-speed="-7">
                                <span class="hero__hover">N</span> <span class="hero__hover">W</span> <span class="hero__hover">A</span> <span class="hero__hover">O</span> <span class="hero__hover">K</span>
                                <span class="hero__hover">O</span> <span class="hero__hover">R</span> <span class="hero__hover">O</span> <span class="hero__hover">,</span>
                            </span>
                            <span class="hero__title__right" data-scroll="" data-scroll-direction="horizontal" data-scroll-position="top" data-scroll-speed="-7">
                            </span>
                            <div class="top__right">
                            <h1 title-overflow="" data-scroll="" data-scroll-direction="horizontal" data-scroll-position="top" data-scroll-speed="-7">
                                <p class="hero__paragraph">
                                <a href="https://ocnwaokoro.github.io/" target="_blank">
                               <img src="/assets/images/fury.gif" height="300" width="300" />
                               </a>
                                </p>
                            </h1>
                                
                        </div>
                    </h1>
                    <span class="hero__title__bottom overflow">
                        <div class="hero__title__bottom">
                            <h1 class="bottom__left desktop" title-overflow="" data-scroll="" data-scroll-direction="horizontal" data-scroll-position="top" data-scroll-speed="7">
                                <span class="hero__hover">O</span> <span class="hero__hover">B</span> <span class="hero__hover">I</span> <span class="hero__hover">N</span> <span class="hero__hover">N</span>
                                <span class="hero__hover">A</span> <span class="hero__hover"></span>
                            </h1>
                            
                            <div style="display: flex;" class="bottom__right">
                            <h1 title-overflow="" data-scroll="" data-scroll-direction="horizontal" data-scroll-position="top" data-scroll-speed="-7">
                                <p id="per" style="width: 50%; " class="hero__paragraph">
                                <!--               
                                How do I avoid hardcoding this em height?
                                Why does it only move after reload?
                                -->
                                    <span class="first-word">personal statement <br></span> &nbsp; I have spent my entire life in academia striving for greatness and yearning to learn more. The hunger for knowledge never ends and I am always open to share my experiences and lessons gained.
                                
                                
                                <!--
                                <span class="first-word">personal statement <br></span> &nbsp;I study Data Science and Global Liberal Studies at NYU. Through my education, I have become proficient in Python, HTML, and several web development kits. I have studied Spanish, French and Igbo as well, with plans to travel to West Africa for computer science opportunities.
-->

                                
                                </p>
                                <p id="abo" style="margin-left: 50%; transform: translateY(-9.1em)" class="hero__paragraph">
                                    <!--
                                    <span class="first-word">About <br></span> &nbsp; Leader of global charitable fundraising teams; with extensive experience researching cybersecurity, computer science, and data science principles centered on
                                    practical applications that surpass classroom theoretical discussions. Technically competent, communicative, and experienced in building relationships to solve complex problems.
                                   -->
                                   
                                    <span class="first-word">About <br></span> &nbsp; Leader of global charitable fundraising teams; with extensive experience researching cybersecurity, computer science, and data science principles centered on
                                    practical applications that surpass classroom theoretical discussions. Technically competent, communicative, and experienced in building relationships to solve complex problems.
                               
                                </p>
                                </h1>
                                </div>
                        </div>
                    </span>
                </div>
            </section>
            <section class="home__projects">
                <span class="home__projects__line left"> <span></span> </span>
                <div class="home__projects__project">
                    <div class="home__projects__project__label">
                        <div class="label__inner label-1">
                            <p>
                                PROJECTS
                            </p>
                            <p>
                                PYTHON /<br />
                                DATA SCIENCE
                            </p>
                        </div>
                    </div>
                    <a href="https://github.com/ocnwaokoro" target="_blank" rel="noopener noreferrer" class="home__projects__project__link">
                        <h1 class="home__projects__project__title" data-scroll="" data-scroll-direction="horizontal" data-scroll-speed="-14">
                            <span class="inline-ovh">
                                <div class="left title__main"><span class="slide-up" data-content="CAPSTONE PROJECT" aria-hidden="true"></span>CAPSTONE PROJECT</div>
                            </span>
                        </h1>
                    </a>
                    <div class="project__link">
                        <a href="https://github.com/ocnwaokoro" target="_blank" rel="noopener noreferrer" class="c-button">
                            <span class="c-link">
                                <span class="c-link__inner">
                                    <span>
                                        Visit Site
                                        <span class="share-icon">
                                            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.337 7.845l-7.173 7.173-1.178-1.179 7.172-7.172H5.837V5h9.166v9.167h-1.666V7.845z" fill="#777" /></svg>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <span class="home__projects__line right"> <span></span> </span>
            </section>

            <section class="home__awards">
                <div class="home__awards__left">
                    <h2 class="awards__title">
                        <span>RELEVANT </span><br />
                        <span>COURSEWORK</span>
                    </h2>
                    <div class="home__awards__table">
                        <div class="awards__item" data-fade-in="">Data Science for Everyone</div>
                        <div class="awards__item" data-fade-in="">Introduction to Data Science</div>
                        <div class="awards__item" data-fade-in="">Database Management & Analysis</div>
                        <div class="awards__item" data-fade-in="">Computer Systems & Organizations</div>
                        <div class="awards__item" data-fade-in="">Introduction to Microeconomics</div>
                        <div class="awards__item" data-fade-in="">Global Liberal Studies Dean's Circle Research Seminar</div>
                        <div class="awards__item" data-fade-in="">Spanish for Business & Commerce</div>
                        <div class="awards__item" data-fade-in="">Intermediate French II</div>
                        <div class="awards__item" data-fade-in="">Calculus I</div>
                        <div class="awards__item" data-fade-in="">PwC Access Your Potential</div>
                    </div>
                </div>
                <div class="home__awards__right">
                    <div class="home__awards__stack" data-fade-in="">
                        <h2 class="home__content__title">Interests</h2>
                        <p class="home__content__desc">
                            Data Science, Cybersecurity, ML Engineering, Data Engineering, FinTech, E-Commerce, Webflow, 3D/Augmented Reality, Web3 <br />
                            <a href="https://github.com/ocnwaokoro" target="_blank" rel="noopener noreferrer">See my Github</a>
                        </p>
                    </div>
                    <div class="home__awards__ice" data-fade-in="">
                        <h2 class="home__content__title">ICEBREAKERS</h2>
                        <p class="home__content__desc">
                            I listen to Griselda all the time because the Flygod keeps my spirits uplifted. You can find them here:
                            <a href="https://www.youtube.com/c/GriseldaRecords" target="_blank" rel="noopener noreferrer">BIG GRISELDA.</a> I love travel & I speak 4 languages to accomodate that interest. Let's work together now, so I can
                            fund the rest of the things I need for travel. <button class="contact-scroll">GET IN TOUCH! 😁</button>
                        </p>
                    </div>
                </div>
            </section>

            <section class="home__projects">
                <span class="home__projects__line right"> <span></span> </span>
                <div class="home__projects__project">
                    <div class="home__projects__project__label">
                        <div class="label__inner label-1">
                            <p>
                                NON-PROFIT <br />
                                WORK (3)
                            </p>
                            <p>
                                FUNDRAISING FOR <br />
                                GIRLS IN LIBERIA
                            </p>
                        </div>
                    </div>
                    <a href="https://macdellacooperfoundation.org/" target="_blank" rel="noopener noreferrer" class="home__projects__project__link">
                        <h1 class="home__projects__project__title" data-scroll="" data-scroll-direction="horizontal" data-scroll-speed="-8">
                            <span class="inline-ovh">
                                <div class="left title__main"><span class="slide-up" data-content="The MacDella Cooper Foundation" aria-hidden="true"></span>The MacDella Cooper Foundation</div>
                            </span>
                        </h1>
                    </a>
                    <div class="project__link">
                        <a href="https://macdellacooperfoundation.org/" target="_blank" rel="noopener noreferrer" class="c-button">
                            <span class="c-link">
                                <span class="c-link__inner">
                                    <span>
                                        Visit Site
                                        <span class="share-icon">
                                            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.337 7.845l-7.173 7.173-1.178-1.179 7.172-7.172H5.837V5h9.166v9.167h-1.666V7.845z" fill="#777" /></svg>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>

                <span class="home__projects__line left"> <span></span> </span>
                <div class="home__projects__project right">
                    <div class="home__projects__project__label">
                        <div class="label__inner">
                            <p>
                                NON-PROFIT <br />
                                CONSULTING
                            </p>
                        </div>
                    </div>
                    <a href="https://www.paragonone.com/" target="_blank" rel="noopener noreferrer" class="home__projects__project__link">
                        <h1 class="home__projects__project__title" data-scroll="" data-scroll-direction="horizontal" data-scroll-speed="8">
                            <span class="inline-ovh">
                                <div class="right title__main"><span class="slide-up" data-content="Paragon One" aria-hidden="true"></span> Paragon One</div>
                            </span>
                        </h1>
                    </a>
                    <div class="project__link">
                        <a href="https://www.paragonone.com/" target="_blank" rel="noopener noreferrer" class="c-button">
                            <span class="c-link">
                                <span class="c-link__inner">
                                    <span>
                                        Visit Site
                                        <span class="share-icon">
                                            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.337 7.845l-7.173 7.173-1.178-1.179 7.172-7.172H5.837V5h9.166v9.167h-1.666V7.845z" fill="#777" /></svg>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>

                <span class="home__projects__line right"> <span></span> </span>
                <div class="home__projects__project right">
                    <div class="home__projects__project__label">
                        <div class="label__inner">
                            <p>
                                NON-PROFIT <br />
                                CONSULTING
                            </p>
                        </div>
                    </div>
                    <a href="https://www.thedaraashleyfoundation.org/" target="_blank" rel="noopener noreferrer" class="home__projects__project__link">
                        <h1 class="home__projects__project__title" data-scroll="" data-scroll-direction="horizontal" data-scroll-speed="-8">
                            <span class="inline-ovh">
                                <div class="left title__main"><span class="slide-up" data-content="The Dara Ashley Foundation" aria-hidden="true"></span> The Dara Ashley Foundation</div>
                            </span>
                        </h1>
                    </a>
                    <div class="project__link">
                        <a href="https://www.thedaraashleyfoundation.org/" target="_blank" rel="noopener noreferrer" class="c-button">
                            <span class="c-link">
                                <span class="c-link__inner">
                                    <span>
                                        Visit Site
                                        <span class="share-icon">
                                            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.337 7.845l-7.173 7.173-1.178-1.179 7.172-7.172H5.837V5h9.166v9.167h-1.666V7.845z" fill="#777" /></svg>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <span class="home__projects__line left"> <span></span> </span>
            </section>

            

            <section class="home__contact">
                <p class="home__contact__desc">Got a question, proposal or project or want to work together on something? Feel free to reach out.</p>
                <div class="line-wrapper">
                    <span class="home__projects__line left"> <span></span> </span>
                </div>
                <div class="marquee">
                    <a
                        href="mailto:chibuikem.nwaokoro@gmail.com?subject=Lets%20work%20together!&body=Hello%2C%20I%20think%20we%20need%20you%20to%20work%20on%2Fcollaborate%20this%20particular%20product...%20Reach%20out%20as%20soon%20as%20you%20can."
                        class="marquee__wrap"
                    >
                        <div class="marquee__inner">
                            <span aria-hidden="true" class="inner-span">
                                <span class="slide-up" data-content="LET’S TALK — LET’S COLLABORATE — SAY HELLO --" aria-hidden="true"></span>
                                LET’S TALK — LET’S COLLABORATE — SAY HELLO --
                            </span>
                            <span class="inner-span">
                                <span class="slide-up" data-content="LET’S TALK — LET’S COLLABORATE — SAY HELLO --" aria-hidden="true"></span>
                                LET’S TALK — LET’S COLLABORATE — SAY HELLO --
                            </span>
                        </div>
                    </a>
                </div>
                <div class="line-wrapper">
                    <span class="home__projects__line right"> <span></span> </span>
                </div>
                <div class="home__contact__email">
                    <button class="email">chibuikem.nwaokoro@gmail.com</button>
                    <div class="to-copy"><span>Click To Copy</span></div>
                </div>
            </section>
            
            <section class="home__content">
                <h2 class="home__content__title">Made it this far??</h2>
                <p class="home__content__desc">
                    YOU'RE WELCOME TO STAY

                </p>
                <style>
                    div.container {
                        display: inline-block;
                    }

                    p {
                        text-align: center;
                    }
                </style>
                <div class="container">
                    <img src="/assets/images/swirl.gif" height="200" width="200" />
                </div>
                <div class="container">
                    <img class="middle-img" src="/assets/images/swirl.gif"/ height="200" width="200" />
                </div>
                <div class="container">
                    <img src="/assets/images/swirl.gif" height="200" width="200" />
                </div>
            </section>

            <footer class="home__footer" id="js-footer">
                <div class="home__footer__center">
                    <div class="footer__links">
                        <div class="link__flex">
                            <div class="link__flex__inner">
                                <a href="https://www.instagram.com/chief.uburu/" target="_blank" rel="noopener noreferrer" class="c-button">
                                    <span class="c-link">
                                        <span class="c-link__inner"> <span> INSTAGRAM </span> <span class="c-link__animated"> INSTAGRAM </span> </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="link__flex">
                            <div class="link__flex__inner second">
                                <a href="https://github.com/ocnwaokoro" target="_blank" rel="noopener noreferrer" class="c-button">
                                    <span class="c-link">
                                        <span class="c-link__inner"> <span> GITHUB </span> <span class="c-link__animated"> GITHUB </span> </span>
                                    </span>
                                </a>
                                <a href="https://www.linkedin.com/in/obinna-nwaokoro-2795041b1/" class="c-button" target="_blank" rel="noopener noreferrer">
                                    <span class="c-link">
                                        <span class="c-link__inner"> <span> LINKEDIN </span> <span class="c-link__animated"> LINKEDIN </span> </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="home__footer__left">
                    <p class="place">NYC, NY, USA 🇺🇸</p>
                    <div class="time">
                        <p>&nbsp &nbsp &nbsp<span id="date-time"></span></p>
                        <script>
                            function refreshTime() {
                                const timeDisplay = document.getElementById("date-time");
                                const dateString = new Date().toLocaleTimeString();
                                const regex = ", ";
                                const formattedString = dateString.replace(/([\d]+:[\d]+)(:[\d]{2})(.*)/, "$1$3");
                                timeDisplay.textContent = formattedString;
                            }
                            setInterval(refreshTime, 100);
                        </script>
                    </div>
                </div>

                <p class="home__footer__right">Design inspired by <a href="https://fayemi.design/" target="_blank" rel="noopener noreferrer"> Isaac Fayemi </a></p>
            </footer>
        </main>
        <script src="/assets/js/footer.js"></script>
    </body>
</html>
